Website/bootstrap-3.3.7-dist/Uploads/cash.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Sep 01 14:27:40-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.cashrepv1$camt.003.001.03" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.cashrepv1$camt.003.001.03">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AccountCriteria3">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="CashAccountSearchCriteria3" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RtrCrit" type="CashAccountReturnCriteria2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountCriteriaDefinition3Choice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="AccountCriteria3"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationSearchCriteriaChoice">
<xs:sequence>
<xs:choice>
<xs:element name="EQ" type="AccountIdentification1Choice"/>
<xs:element name="CTTxt" type="Max35Text"/>
<xs:element name="NCTTxt" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountQueryDefinition3">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctCrit" type="AccountCriteriaDefinition3Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BalanceCounterparty1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BILA"/>
<xs:enumeration value="MULT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="BalanceDetails3">
<xs:sequence>
<xs:element name="BalTp" type="BalanceType6Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CtrPtyTp" type="BalanceCounterparty1Code"/>
<xs:element name="CtrPtyId" type="MemberIdentificationChoice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BalValDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="BalanceType6Code">
<xs:restriction base="xs:string">
<xs:enumeration value="OPNG"/>
<xs:enumeration value="INTM"/>
<xs:enumeration value="CLSG"/>
<xs:enumeration value="BOOK"/>
<xs:enumeration value="CRRT"/>
<xs:enumeration value="PDNG"/>
<xs:enumeration value="LRLD"/>
<xs:enumeration value="AVLB"/>
<xs:enumeration value="LTSF"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="EAST"/>
<xs:enumeration value="PYMT"/>
<xs:enumeration value="BLCK"/>
<xs:enumeration value="XPCD"/>
<xs:enumeration value="DLOD"/>
<xs:enumeration value="XCRD"/>
<xs:enumeration value="XDBT"/>
<xs:enumeration value="ADJT"/>
<xs:enumeration value="PRAV"/>
<xs:enumeration value="DBIT"/>
<xs:enumeration value="THRE"/>
<xs:enumeration value="NOTE"/>
<xs:enumeration value="SELF"/>
<xs:enumeration value="MSTR"/>
<xs:enumeration value="FSET"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="OTHB"/>
<xs:enumeration value="CUST"/>
<xs:enumeration value="FORC"/>
<xs:enumeration value="COLC"/>
<xs:enumeration value="FUND"/>
<xs:enumeration value="PIPO"/>
<xs:enumeration value="XCHG"/>
<xs:enumeration value="CCPS"/>
<xs:enumeration value="TOHB"/>
<xs:enumeration value="COHB"/>
<xs:enumeration value="DOHB"/>
<xs:enumeration value="TPBL"/>
<xs:enumeration value="CPBL"/>
<xs:enumeration value="DPBL"/>
<xs:enumeration value="FUTB"/>
<xs:enumeration value="REJB"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CashAccountReturnCriteria2">
<xs:sequence>
<xs:element name="NmInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="CcyInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="TpInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="MulLmtInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="MulBalRtrCrit" type="CashBalanceReturnCriteria" minOccurs="0" maxOccurs="1"/>
<xs:element name="BilLmtInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="BilBalRtrCrit" type="CashBalanceReturnCriteria" minOccurs="0" maxOccurs="1"/>
<xs:element name="StgOrdrInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctOwnrInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcrInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccountSearchCriteria3">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentificationSearchCriteriaChoice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Tp" type="CashAccountType2Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Ccy" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Bal" type="BalanceDetails3" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctOwnr" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CashAccountType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CashBalanceReturnCriteria">
<xs:sequence>
<xs:element name="TpInd" type="RequestedIndicator"/>
<xs:element name="StsInd" type="RequestedIndicator"/>
<xs:element name="ValDtInd" type="RequestedIndicator"/>
<xs:element name="NbOfPmtsInd" type="RequestedIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
<xs:element name="DtSch" type="DateSearchChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DatePeriodDetails">
<xs:sequence>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
<xs:element name="FrToDt" type="DatePeriodDetails"/>
<xs:element name="EQDt" type="ISODate"/>
<xs:element name="NEQDt" type="ISODate"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.003.001.03" type="camt.003.001.03"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="BIC" type="BICIdentifier"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RequestedIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.003.001.03">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="AcctQryDef" type="AccountQueryDefinition3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
